/* ---RESETS */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}

/* ---ROOT VARS */
:root {
  --primary: #27182d;
  --secondary: #d58e69;
  --font: "Montserrat", sans-serif;
  --inspect: solid white 1px;
}

/* ---MAIN STYLES */

body {
  font-family: var(--font);
  min-height: 100vh;
  background: var(--primary);
  color: var(--secondary);
}
main {
  margin: 0 auto;
  /* border: var(--inspect); */
  width: 90vw;
  max-width: 1200px;
}

/* ---HEADER COMPONENT */

.logo-wrapper {
  width: 100%;
  text-align: center;

  & img {
    max-width: 250px;

    @media only screen and (max-width: 450px) {
      height: 150px;
    }
    @media only screen and (max-width: 300px) {
      height: 100px;
    }
  }
}

/* ---GRID COMPONENT */

.viewport-error {
  display: none;
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: 500;

  @media only screen and (max-width: 300px) {
    display: block;
  }
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 600;

  @media only screen and (max-width: 450px) {
    font-size: 18px;
  }
  @media only screen and (max-width: 300px) {
    display: none;
  }
}

.assortment-container {
  position: relative;
  margin: 20px 0;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 450px));
  place-content: center;
  /* border: var(--inspect); */

  @media only screen and (max-width: 450px) {
    margin: 10px 0;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }

  @media only screen and (max-width: 300px) {
    display: none;
  }
}

/* ---INFO MODAL COMPONENT */

.info-modal-overlay {
  /* border: var(--inspect); */
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;

  .close-btn {
    font-size: 30px;
    cursor: pointer;
  }

  .info-text {
    border: solid var(--secondary) 2px;
    border-radius: 10px;
    width: 80%;
    height: fit-content;
    padding: 20px;
    font-size: 16px;
    line-height: 23px;
    background: black;
  }
}

/* ---ITEM COMPONENT */

.item-wrapper {
  border: 1px solid var(--secondary);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 30px;

  .product-img {
    height: 240px;
  }

  .description-container {
    line-height: 21px;

    & h2 {
      text-transform: capitalize;
      font-size: 16px;
    }
    .type {
      font-size: 15px;
      margin-bottom: 20px;
      text-transform: capitalize;
      font-weight: 400;
    }
    .sub-text {
      font-size: 14px;
    }
    .price {
      margin-top: 20px;
      font-size: 14px;
    }
    .emph {
      font-weight: 600;
    }
    .capitalize {
      text-transform: capitalize;
    }
    .no-stock {
      color: red;
    }
    .info-btn {
      margin-top: 20px;
      color: var(--secondary);
      font-family: var(--font);
      font-size: 22px;
      font-weight: 500;
      background: transparent;
      border: none;
      cursor: pointer;
      transition: 250ms ease;

      &:hover,
      &:active {
        color: #eedccf;
      }
    }
  }

  @media only screen and (max-width: 450px) {
    padding: 10px;

    .product-img {
      height: 220px;
    }

    .description-container {
      line-height: 18px;

      & h2 {
        font-size: 14px;
      }
      .type {
        font-size: 13px;
        margin-bottom: 15px;
      }
      .sub-text {
        font-size: 12px;
      }
      .price {
        margin-top: 15px;
        font-size: 12px;
      }
      .info-btn {
        margin-top: 15px;
      }
    }
  }
}

/* ---FOOTER COMPONENT */
footer {
  margin: 40px 0;
  font-weight: 500;
  font-size: 0.813rem;
  text-align: center;
  text-transform: capitalize;

  @media only screen and (max-width: 300px) {
    display: none;
  }
}
