/* ---RESETS */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.img {
  width: 100%;
  display: block;
  object-fit: cover;
}

/* ---ROOT VARS */
:root {
  --primary: #27182d;
  --secondary: #d58e69;
  --font: "Montserrat", sans-serif;
  --inspect: solid white 1px;
}

/* ---MAIN STYLES */

body {
  font-family: var(--font);
  min-height: 100vh;
  background: var(--primary);
}
